@page
@model RegisterPage.Pages.Credentials.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>register</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="register.Id" />
            <div class="form-group">
                <label asp-for="register.username" class="control-label"></label>
                <input asp-for="register.username" class="form-control" />
                <span asp-validation-for="register.username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="register.password" class="control-label"></label>
                <input asp-for="register.password" class="form-control" />
                <span asp-validation-for="register.password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="register.firstname" class="control-label"></label>
                <input asp-for="register.firstname" class="form-control" />
                <span asp-validation-for="register.firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="register.lastname" class="control-label"></label>
                <input asp-for="register.lastname" class="form-control" />
                <span asp-validation-for="register.lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="register.dob" class="control-label"></label>
                <input asp-for="register.dob" class="form-control" />
                <span asp-validation-for="register.dob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
